body{
	margin: 0;
	padding: 0;
    font-family: "Arial", sans-serif;;
}
ul, li{
    display: block;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	text-decoration: none;
    margin: 0;
    padding: 0;
}
div, p, form, input, a, span, button{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, a:hover, a:active{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
a, button, input{
    transition: all 0.5s ease;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active{
    outline: none;
}
header, footer{
    background: #000000;
    margin: 0;
    padding: 0;
}
.main{
    background: #1e1e1e;
    padding-top: 14px;
    box-sizing: border-box;
}
.nav-link{
    font-size: 22px;
}
.logo{
    width: auto;
    height: 10px;
    float:left;
    margin: 0;
    padding: 0;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-item{
    margin-right: 20px;
}
.user_ico{
    border-radius: 50%;
}
.user_photo{
    margin-right: 10px;
}
.user_edit_photo{
    width: 100%;
    height: auto;
}
.user_first_name{
    color: #ffffff;
    margin-right: 5px;
}
.user_last_name{
    color: #ffffff;
}
.logo-and-text{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
.logo-text{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin: 22px 0 28px 0;
}
.game_photo{
    max-width: 100%;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}
.name_price_buy-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.button{
    margin-top: 50px;
    text-align: right;
}
.game_name{
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}
.price{
    font-size: 30px;
    color: #ffffff;
}
.buy_button{
    color: rgba(255,255,255,0.85);
    background: #169c3f;
    border: none;
    border-radius: 10px;
    padding: 8px 10px 10px 10px;
    width: 180px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
.game_description{
    font-size: 18px;
    margin: 25px 0 0 55px;
}
.game_description_text{
    color: #ffffff;
}
.about_game{
    margin: 0 auto;
}
.game_genres{
    display: flex;
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.genre{
    margin-right: 10px;
}
.game_platforms{
    margin-left: 50px;
    margin-top: 15px;
}
.game-genre{
    margin-right: 5px;
    font-size: 15px;
}
.all_games{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    height: 699px;
    overflow-y:auto;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: #1e1e1e;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    transition-property: background;
    transition-duration: 4s;
    transition: 0.5s;
    transition-delay: 3s;
    background: rgba(255,255,255,0.85);
}
.game_photo_div{
    color: #ffffff;
    width: 90%;
}
.buy-button{
    color: rgba(255,255,255,0.85);
    background: #169c3f;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.game_ico{
    max-width: 100%;
    height: 170px;
    width: 300px;
    border-radius: 10px;
}
.game-price{
    font-size: 20px;
}
.game_genres_and_name{
    display: block;
}
.game_genres_for_one{
    display: flex;
}
.price_and_button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.game-name{
    font-size: 20px;
    font-weight: bold;
}
.filer_and_search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 90%;
}
.search_game{
    background: #484848;
    border: none;
    border-radius: 5px;
    padding: 3px 0 4px 2px;
}
.search_game:hover{
    overflow: hidden;
    transition: 0.5s;
    box-shadow: inset 0 -35px #ffffff;
}
.search_div{
    display: flex;
    margin-right: 10px;
}
.search{
    margin-left: 10px;
}
.add_game{
    color: rgba(255,255,255,0.85);
    background: #169c3f;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.add_game_button{
    text-align: right;
}
.new_game{
    display: flex;
    flex-direction: column;
    margin: 100px auto;
    width: 90%;
    justify-content: space-between;
}
.game_fields{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.new_game_detail{
    color: rgba(255,255,255,0.85);
    border: none;
    border-radius: 3px;
    padding-left: 2px;
    width: 400px;
    height: 50px;
    margin-bottom: 50px;
    color: #000000;
    display: block;
}
.select_and_textarea{
    display: block;
}
#new_game_description{
    height: 150px;
    outline: none;
    resize: none;
    margin-bottom: 20px;
}
.new_game_add_button{
    background: #20c579;
    font-size: 1.125rem;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    width: 100px;
    height: 60px;
    line-height: 1;
    border:0 none;
    border-radius: 0 3px 3px 0;
}
.edit_game_add_button{
    background: #20c579;
    font-size: 0.9rem;
    color: #ffffff;
    font-weight: bold;
    outline: none;
    width: 100px;
    height: 60px;
    line-height: 1;
    border:0 none;
    border-radius: 0 3px 3px 0;
}
.input__wrapper {
    width: 100%;
    position: relative;
    margin: 15px 0;
    text-align: center;
}
.input__file {
    opacity: 0;
    visibility: hidden;
    position: absolute;
}
.input__file-icon-wrapper {
    height: 60px;
    width: 60px;
    margin-right: 15px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
    border-right: 1px solid #fff;
}
.input__file-button-text {
    line-height: 1;
    font-size: 0.9rem;
    margin: 1px auto;
}
.input__file-button {
    width: 100%;
    height: 60px;
    background: #02a0c5;
    color: #ffffff;
    font-size: 1.125rem;
    font-weight: 700;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
    -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
    -moz-border-radius-bottomleft: 3px;
    -moz-border-radius-bottomright: 3px;
    cursor: pointer;
    margin: 0;
    border-radius: 3px 0 0 3px;
}
.image_and_button{
    display: flex;
    margin-top: 1px;
}
.submit_button{
    margin: 15px 0 15px 5px;
    text-align: center;
    position: relative;
    cursor: pointer;
}
.dropdown-check-list, .filter-dropdown-check-list{
    width: 400px;
    display: inline-block;
    margin-bottom: 51px;
}
.dropdown-check-list .anchor, .filter-dropdown-check-list .anchor{
    text-align: start;
    color: #808080;
    background: #ffffff;
    width: 400px;
    position: relative;
    cursor: pointer;
    display: inline-block;
    padding: 5px 50px 5px 2px;
    border: none;
    border-radius: 3px;
}
.dropdown-check-list .anchor:after, .filter-dropdown-check-list .anchor:after{
    position: absolute;
    content: "";
    border-left: 2px solid black;
    border-top: 2px solid black;
    padding: 5px;
    right: 10px;
    top: 20%;
    -moz-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    transform: rotate(-135deg);
}
.dropdown-check-list .anchor:active:after, .filter-dropdown-check-list .anchor:active:after{
    right: 8px;
    top: 21%;
}
.dropdown-check-list ul.items, .filter-dropdown-check-list ul.items{
    padding: 2px;
    display: none;
    margin: 0;
    border: 1px solid #000000;
    border-top: none;
}
.dropdown-check-list ul.items li, .filter-dropdown-check-list ul.items li{
    color: #000000;
    list-style: none;
    background: #ffffff;
}
.dropdown-check-list.visible .anchor, .filter-dropdown-check-list.visible .anchor {
    color: #000000;
}
.dropdown-check-list.visible .items, .filter-dropdown-check-list.visible .items {
    position: absolute;
    z-index: 99;
    display: block;
    text-align: start;
    width: 400px;
}
/*_____________________________________*/
#modal{
    width: 350px;
    height: 500px;
    margin: auto auto;
    background: #ffffff;
    border: 1px solid #ffffff;
    border-radius: 15px;
    z-index: 100;
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    text-align: center;
}
.reg_form{
    width: 275px;
    margin: -15px auto 20px auto;
    text-align: center;
}
.input{
    width: 260px;
    padding: 5px;
    margin-bottom: 15px;
    border: none;
    border-bottom: 2px solid #000000;
}
.close{
    margin: 10px 10px 0 300px;
    cursor: pointer;
    border: 1px solid #000000;
    padding: 2px;
}
#gray{
    background: rgba(1,1,1,0.75);
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: none;
    z-index: 150;
    overflow: auto;
}
.register{
    margin-top: 20px;
}
.submit{
    background: #20c579;
    border: none;
}
.login_ref{
    color: #000000;
}
.login_ref:hover{
    color: #169c3f;
}
.reg_form{
    display: block;
}
.reg_form_new{
    display: none;
}
.user_names{
    display: block;
}
.edit_user{
    margin: 65px auto;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}
.user_fields{
    display: flex;
    flex-direction: column;
    margin: 50px 0 50px 0;
}
.new_profile_detail{
    margin-bottom: 30px;
    height: 50px;
}
.game-name:hover{
    color: #20c579;
    transition: .5s ease;
}
.edit_profile{
    text-align: center;
    margin: 32px auto;
}
.comments{
    margin: 40px auto 0 auto;
    width: 93%;
    border-radius: 5px;
    border: none;
}
.user_comment{
    margin: 10px auto;
    width: 95%;
}
.comment_author{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.comment_author_image{
    display: flex;
}
.comment_owner{
    margin-top: 1.33%;
    color: #ffffff;
    margin-left: 10px;
    font-weight: bold;
    font-size: 18px;
}
.comment_div{
    margin-top: 20px;
    margin-bottom: 30px;
}
.comment{
    resize: none;
    outline: none;
    background: #d3d3d3;
    border: none;
    border-radius: 5px;
    width: 400px;
}
.reply{
    color: #11337C;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    font-size: 20px;
}
.reply:hover{
    text-decoration: underline;
}
.comment_text{
    color: #ffffff;
    width: 700px;
    word-wrap: break-word;
}
.add_comment{
    display: flex;
    margin-bottom: 20px;
}
.add_comment_input{
    background: #11337C;
    border: none;
    border-radius: 3px;
    font-weight: bold;
    color: #ffffff;
    padding: 10px 15px;
    margin-left: 10px;
}
.customer_comments{
    display: flex;
    margin: 0 auto;
}
div.sub{
    margin-left: 30px;
}
.all_comments{
    height: 400px;
    overflow-y: auto;
    overflow-x: hidden;
}
.crud_comments{
    display: flex;
}
.crud_comments>p{
    margin-right: 5px;
}