body{
	margin: 0;
	padding: 0;
    font-family: "Arial", sans-serif;;
}
ul, li{
    display: block;
	margin: 0;
	padding: 0;
}
h1, h2, h3, h4, h5, h6{
	text-decoration: none;
    margin: 0;
    padding: 0;
}
div, p, form, input, a, span, button{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
a, a:hover, a:active{
    text-decoration: none;
    outline: none;
    color: #ffffff;
}
a, button, input{
    transition: all 0.5s ease;
}
input, input:hover, input:focus, input:active,
button, button:hover, button:focus, button:active{
    outline: none;
}
header, footer{
    background: #000000;
    margin: 0;
    padding: 0;
}
.main{
    background: #1e1e1e;
    padding-top: 14px;
    box-sizing: border-box;
}
.nav-link{
    font-size: 22px;
}
.logo{
    width: auto;
    height: 10px;
    float:left;
    margin: 0;
    padding: 0;
}
.navbar-nav{
    margin-left: 10px;
}
.nav-item{
    margin-right: 20px;
}
.user_ico{
    border-radius: 50%;
}
.user_photo{
    margin-right: 10px;
}
.user_first_name{
    color: #ffffff;
    margin-right: 5px;
}
.user_last_name{
    color: #ffffff;
}
.logo-and-text{
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}
.logo-text{
    font-weight: bold;
    font-size: 30px;
    color: #ffffff;
    margin: 22px 0 28px 0;
}
.game_photo{
    max-width: 100%;
    height: auto;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10px;
}
.name_price_buy-button{
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
}
.button{
    margin-top: 50px;
    text-align: right;
}
.game_name{
    font-weight: bold;
    font-size: 50px;
    color: #ffffff;
}
.price{
    font-size: 30px;
    color: #ffffff;
}
.buy_button{
    color: rgba(255,255,255,0.85);
    background: #169c3f;
    border: none;
    border-radius: 10px;
    padding: 8px 10px 10px 10px;
    width: 180px;
    height: 50px;
    text-align: center;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
}
.game_description{
    font-size: 18px;
    margin: 25px 0 0 55px;
}
.game_description_text{
    color: #ffffff;
}
.about_game{
    margin: 0 auto;
}
.game_genres{
    display: flex;
    margin-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
.genre{
    margin-right: 10px;
}
.genre_text{
    color: rgba(255,255,255,0.85);
    font-size: 18px;
    font-weight: bold;
    background: #5097f3;
    border-radius: 20px;
    padding: 4px 15px;
    text-align: center;
    display: inline-block;
}
.game_platforms{
    margin-left: 50px;
    margin-top: 15px;
}
.game-genre{
    margin-right: 5px;
    font-size: 15px;
}
.all_games{
    margin-left: auto;
    margin-right: auto;
    width: 92%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: right;
    height: 699px;
    overflow-y:auto;
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    box-shadow: #1e1e1e;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb{
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    transition-property: background;
    transition-duration: 4s;
    transition: 0.5s;
    transition-delay: 3s;
    background: rgba(255,255,255,0.85);
}
.game_photo_div{
    color: #ffffff;
    width: 30%;
    margin-right: 20px;
    margin-bottom: 30px;
}
.buy-button{
    color: rgba(255,255,255,0.85);
    background: #169c3f;
    border: none;
    border-radius: 5px;
    padding: 5px;
    margin-top: 5px;
    width: 70px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.game_ico{
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}
.game-price{
    font-size: 20px;
}
.game_genres_and_name{
    display: block;
}
.game_genres_for_one{
    display: flex;
}
.price_and_button{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}
.game-name{
    font-size: 20px;
    font-weight: bold;
}
.filer_and_search{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 90%;
}
.search_game{
    background: #484848;
    border: none;
    border-radius: 5px;
    padding: 3px 0 4px 2px;
}
.search_game:hover{
    overflow: hidden;
    transition: 0.5s;
    box-shadow: inset 0 -35px #ffffff;
}
.search_div{
    display: flex;
}
.search{
    margin-left: 10px;
}
.add_game{
    color: rgba(255,255,255,0.85);
    background: #169c3f;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 120px;
    height: 30px;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
}
.add_game_button{
    text-align: right;
}
.new_game{
    display: flex;
    margin: 0 auto;
    width: 90%;
    justify-content: space-between;
}
.game_fields{
    text-align: center;
}
.game_fields > input{
    display: block;
    margin-bottom: 10px;
}