<!DOCTYPE html>
<html lang="en">
<head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="Game store">
        <meta name="keywords" content="games, online games, buy games">
        <meta property="og:url" content="127.0.0.1/main-page">
        <meta property="og:title" content="The best online game store with the lowest prices"/>
        <meta property="og:description" content="Game store"/>
        <meta name="author" content="Bohdan_Romanytsia">
        <link rel="icon" type="image/png" href="static/ri2759.ico">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick.css') }}"/>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='slick-theme.css') }}"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" crossorigin="anonymous"></script>
        <title>{% block title %}{% endblock %}</title>
</head>
<body>
	    <header id="header" class="header">
		        <div class="container">
			            <div class="row">
				                <nav class="navbar navbar-expand-sm navbar-dark">
					                    <div class="logo-and-text">
						                        <a class="navbar-brand" href="{{ url_for('display_all_games') }}">
								                        <img src="static/ri2759.ico" height="80" class="d-inline-block align-top" alt="Game-store-logo">
						                        </a>
						                        <p class="logo-text">Game store</p>
					                    </div>
				                        <ul class="navbar-nav ml-auto">
		  			                            <li class="nav-item">
						                                <a class="nav-link" href="{{ url_for('display_all_games') }}">Games</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="#">Community</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="#">About</a>
                                                </li>
                                                <li class="nav-item">
                                                        <a class="nav-link" href="#">Support</a>
                                                </li>
			                        	</ul>
				                        <div class="navbar-nav">
					                            <a href="#" class="nav-item nav-link user_photo"><img height="60" width="60" class="user_ico" {% block user_icos %} {% if customer %} src="data:image/jpeg;base64,{{ customer.customer_photo }}" {% else %} src="static/pngegg.png" {% endif %} {% endblock %} alt="user_photo"></a>
				                        </div>
                                        <div class="navbar-nav">
					                            <p class="user_first_name">{% if customer %} {{ customer.customer_first_name }} {% else %} {% endif %}</p>
					                            <p class="user_last_name">{% if customer %} {{ customer.customer_last_name }} {% else %} {% endif %}</p>
				                        </div>
                                        <div class="navbar-nav">
                                                <a href="#" class="nav-item nav-link"><img height="20" src="static/pngaaa.com-3531796.png" alt=""></a>
                                        </div>
                                        <div class="navbar-nav">
                                                <a href="#" class="nav-item nav-link"><img height="20" src="static/iconfinder_login_account_enter_door_3005767.png" alt=""></a>
                                        </div>
				                </nav>
			            </div>
		        </div>
	    </header>
	    <section class="main">
		        <div class="container">
			            {% block content%}
			            {% endblock %}
		        </div>
        </section>
	    <footer class="footer">
		        <div class="container">
			            <div class="row">
				                <nav class="navbar navbar-expand-sm navbar-dark">
					                    <div class="logo-and-text">
						                        <a href="{{ url_for('display_all_games') }}" class="navbar-brand">
						        	                    <img src="static/ri2759.ico" height="80" class="d-inline-block align-top" alt="Game-store-logo">
						                        </a>
						                        <p class="logo-text">Game store</p>
					                    </div>
				                </nav>
			            </div>
		        </div>
	    </footer>
</body>
</html>