{% extends "index.html" %}
{% block title %}
        {% if game %}
                Edit Game
        {% else %}
                Add Game
        {% endif %}
{% endblock %}
{% block content %}
        <div class="row">
                <div class="new_game">
                        <form {% if game %} action="{{ url_for('admin.edit_game', game_id=game.game_id)}}" {% else %} action="{{ url_for('admin.add_new_game') }}" {% endif %} class="game_fields" method="post" enctype="multipart/form-data">
                                {% for message in get_flashed_messages() %}
                                    <div class="alert alert-danger alert-dismissible show" id='alert' name='alert' role="alert">
                                        {{ message }}
                                        <button type="button" class="close">
                                            <span onclick="hideAlert()" aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                {% endfor %}
                                <input type="text" class="new_game_detail" id="new_game_name" name="new_game_name" placeholder="Enter game name" {% if game %} value="{{ game.game_name }}" {% endif %} required>
                                <input type="text" class="new_game_detail" id="new_game_price" name="new_game_price" placeholder="Enter game price(less than 1000)" {% if game %} value="{{ game.price }}" {% endif %}>
                                <div id="genres" class="dropdown-check-list" tabindex="100">
                                        <span class="anchor">Select Game Genres</span>
                                                <ul class="items">
                                                        {% for genre in genres %}
                                                            {% if genre.game_genre_parent_id is none %}
                                                                <li><input type="checkbox" name="new_game_genre" value="{{genre.game_type_name}}">{% if genre.game_type_name == '' %}Games without genre {% else %} {{genre.game_type_name}} {% endif %}</li>
                                                                    <div class="sub_genre" style="margin-left: 20px">
                                                                        {% for sub_genre in genres %}
                                                                            {% if sub_genre.game_genre_parent_id == genre.game_type_id %}
                                                                                <li><input type="radio" name="new_game_genre" value="{{sub_genre.game_type_name}}">{{sub_genre.game_type_name}}</li>
                                                                            {% endif %}
                                                                        {% endfor %}
                                                                    </div>
                                                            {% endif %}
                                                        {% endfor %}
                                                </ul>
                                </div>
                                <div class="select_and_textarea">
                                        <textarea class="new_game_detail" id="new_game_description" name="new_game_description" placeholder="Enter game description" required>{% if game %} {{ game.game_description }} {% endif %}</textarea>
                                </div>
                                <div class="image_and_button">
                                        <div class="input__wrapper">
                                                <input type="file" name="new_game_ico" accept="image/*" id="input__file" class="input input__file" {% if game_image %} value="{{ game_image.game_image }}" {% endif %} multiple>
                                                        <label for="input__file" class="input__file-button">
                                                                <span class="input__file-icon-wrapper"><img class="input__file-icon" src="{{ url_for('static', filename='images/kisspng_computer_icons_logo_download_incoming_5b2fe3dddadc97_07.png')}}" alt="Choose game image" width="30"></span>
                                                                <span class="input__file-button-text">Choose game image</span>
                                                        </label>
                                        </div>
                                        <div class="submit_button">
                                                <input type="submit" class="edit_game_add_button" {% if game %} value="Change game" {% else %} value="Add game" {% endif %}>
                                        </div>
                                </div>
                        </form>
                </div>
        </div>
<script>
        let checkList = document.getElementById('genres');
                checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList.classList.contains('visible'))
                        checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
        }
</script>
<script>
    let file = document.getElementById('input__file');
    file.onchange = function(e) {
        let ext = this.value.match(/\.([^\.]+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'bmp':
                case 'png':
                case 'jpeg':
                case 'ico':
            break;
            default:
                alert("This format of file isn't allowed");
            this.value = '';
        }
    };
</script>
{% endblock %}