{% extends "index.html" %}
{% block title %}All Games{% endblock %}
{% block content %}
<style>
.overlay{
    position: relative;
    width: 30%;
    margin-right: 20px;
}
.game_photo_div{
    width: 100%;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
    margin-bottom: 20px;
}
{% if login == 'Admin' %}
.admin_overlay {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}
.overlay:hover .game_photo_div {
    opacity: 0.3;
}
.overlay:hover .admin_overlay {
    opacity: 1;
}
.admin_img {
    padding: 20px;
    margin-right: 5px;
}
.hover_img{
    z-index: 10;
    left: 50%;
    top: 35%;
}
.hover_img:hover{
    transform: scale(1.2);
}
{% endif %}
</style>
<div class="row">
        <div class="filer_and_search">
                <div id="filter" class="filter-dropdown-check-list" tabindex="100">
                        <span class="anchor">Select Game Genres</span>
                                <ul class="items">
                                        {% for genre in genres %}
                                                 <li><input type="checkbox" name="new_game_genre" value="{{genre.game_type_name}}">{% if genre.game_type_name == '' %}Games without genre {% else %} {{genre.game_type_name}} {% endif %}</li>
                                        {% endfor %}
                                </ul>
                </div>
                <div class="search_div">
                    {% if login == 'Admin' %}
                        <div class="add_game_button">
                                <a href="/add-game" class="add_game">Add game</a>
                        </div>
                    {% endif %}
                        <form class="search" id="search" method="post">
                                <input type="text" class="search_game" name="search" id="live_search" placeholder="Enter game name" onkeyup="myFunction()">
                        </form>
                </div>
        </div>
</div>
<div class="row">
        <div class="all_games" id="all_games">
                {% for data, photo in all_games|zip(game_images) %}
                        <div class="overlay">
                                <div class="game_photo_div" game_id="{{ data.game_id }}">
                                        <a href="{{ url_for('display_game', game_id=data.game_id) }}" class="game_ref" id="game_ref">
                                                <img src="data:image/jpeg;base64, {% if photo %} {{ photo }} {% else %} './static/mark.jpg' {% endif %}" height="170" alt="game_img" class="game_ico" id="game_ico">
                                        </a>
                                        {% if login == 'Admin' %}
                                                <div class="admin_overlay">
                                                        <a href="{{ url_for('edit_game', game_id=data.game_id) }}" class="admin_img"><img src="./static/white_pencil.png" alt="" height="60" class="hover_img"></a>
{#                                                        <input type="image" src="./static/bin.png" height="60" class="hover_img hide" game_id="{{ data.game_id }}">#}
                                                        <a href="#" onclick="send({{ data.game_id }})" class="admin_img hide"><img src="./static/bin.png" alt="" height="60" class="hover_img"></a>
                                                </div>
                                        {% endif %}
                                        <div class="game_information" id="game_information">
                                                <div class="price_and_button" id="price_and_button">
                                                        <p class="game-price" id="game-price">{{ data.price }}$</p>
                                                                <div class="buttons" id="buttons">
                                                                        <a href="#" class="buy-button" id="buy-button">BUY</a>
                                                                </div>
                                                </div>
                                                <div class="game_genres_and_name" id="game_genres_and_name">
                                                        <div class="game_genres_for_one" id="game_genres_for_one">
                                                                {% for genre in data.genres %}
                                                                        <p class="game-genre" id="game-genre">
                                                                                {% if data.genres|length > 1 %}
                                                                                        {{ genre.game_type_name }} / <!--ТРЕБА ПРИДУМАТИ ЯК ЗАБРАТИ СЛЕШ ВКІНЦІ-->
                                                                                {% else %}
                                                                                        {{ genre.game_type_name }}
                                                                                {% endif %}
                                                                        </p>
                                                                {% endfor %}
                                                        </div>
                                                <a href="{{ url_for('display_game', game_id=data.game_id) }}" class="game_ref">
                                                        <h4 class="game-name" id="game-name">{{ data.game_name }}</h4>
                                                </a>
                                        </div>
                                </div>
                            </div>
                        </div>
                {% endfor %}
        </div>
</div>
<script>
    function myFunction() {
        let input, filter, allGames, game, listOfGames, i, txtValue;
        input = document.getElementById("live_search");
        filter = input.value.toUpperCase();
        allGames = document.getElementById("all_games");
        game = allGames.getElementsByClassName('overlay');
        for (i = 0; i < game.length; i++) {
            listOfGames = game[i].getElementsByClassName("game-name")[0];
            if (listOfGames) {
                txtValue = listOfGames.textContent || listOfGames.innerText;
                if (txtValue.toUpperCase().indexOf(filter) > -1) {
                    game[i].style.display = "";
            } else {
                game[i].style.display = "none";
                }
            }
        }
    }
</script>
<script>
        let checkList = document.getElementById('filter');
            checkList.getElementsByClassName('anchor')[0].onclick = function(evt) {
                if (checkList.classList.contains('visible'))
                    checkList.classList.remove('visible');
                else
                    checkList.classList.add('visible');
            }
</script>
 <script>
    function send(id) {
        $.ajax({
            url: '{{url_for('hide_game')}}',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: String(id),
        })
    }
 </script>
{% endblock %}