{% extends "index.html" %}
{% block title %}{{game_details.game_name}}{% endblock %}
{% block content %}
<div class="row">
    <div class="about_game_total">
        <div class="row">
            <div class="about_game">
                <img src="data:image/jpeg;base64,{{ game_image }}" alt="game_img" class="game_photo">
            </div>
        </div>
        <div class="name_price_buy-button">
            <div class="name_and_price">
                <h1 class="game_name">{{game_details.game_name}}</h1>
                <p class="price">{{game_details.price}}$</p>
            </div>
            {% if current_user.role_id != 1 %}
                <div class="button">
                    <button id="{{ game_details.game_id }}" class="buy_button">BUY</button>
                </div>
            {% endif %}
        </div>
            <hr color="#d3d3d3" align="center" size="5" width="90%">
        <div class="game_genres">
            {% for genre in game_details.genres %}
                <div class="genre">
                    <a href="#" class="genre_text">{% if genre.game_type_name == '' %} No genre {% else %} {{ genre.game_type_name }} {% endif %}</a>
                </div>
            {% endfor %}
        </div>
        <div class="game_platforms">
            {% for ico in platforms_ico %}
                <a href="#" class="platform">
                    <img src="data:image/jpeg;base64,{{ ico }}" height="60" alt="my_img" class="platform_ico">
                </a>
            {% endfor %}
        </div>
        <div class="game_description">
            <p class="game_description_text">{{game_details.game_description}}</p>
        </div>
        <div class="comments">
            <div class="all_comments">
                {% for comment, ico, comment_date in game_comments|zip(comment_authors_images,game_comments2) %}
                    {% if not comment.parent_id %}
                        <div class="user_comment">
                            <div class="comment_author_image">
                                <div class="author_and_image">
                                    <img src="data:image/jpeg;base64, {{ ico }}" alt="comment_author_ico" height="50" class="comment_author">
                                    <p class="comment_owner">{{ comment.author_username }}</p>
                                </div>
                                <div class="date" style="color: #ffffff">
                                    <p class="publication_date">{{ comment_date }} ago</p>
                                </div>
                            </div>
                            <div class="comment_div">
                            {% if comment.hidden %}
                                <p class="comment_text hidden_comment" id="{{ comment.comment_id }}">the comment was deleted by author</p>
                            {% else %}
                                <p class="comment_text" id="{{ comment.comment_id }}">{{ comment.text }}</p>
                            {% endif %}
                                {% if not comment.parent_id %}
                                    {% if current_user.is_authenticated %}
                                        <div class="crud_comments">
                                            {% if comment.hidden is none %}
                                                <p onclick="parentReply(commentId={{ comment.comment_id }}, commentAuthor=`{{ comment.author_username }}`, commentText=`{{ comment.text }}`)" class="reply">Reply</p>
                                            {% endif %}
                                            {% if ((current_user.customer_username == comment.author_username) or (current_user.role_id == 1)) %}
                                                {% if comment.hidden is none %}
                                                    <p class="reply edit_comment" onclick="editComment(commentText=`{{ comment.text }}`, commentId={{ comment.comment_id }})">Edit</p>
                                                {% endif %}
                                                {% if comment.hidden %}
                                                    <p class="reply delete_comment" onclick="deleteComment(commentId={{ comment.comment_id }})">Restore</p>
                                                {% else %}
                                                    <p class="reply delete_comment" onclick="deleteComment(commentId={{ comment.comment_id }})">Delete</p>
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    {% for sub_comment, sub_ico, sub_comment_date in game_sub_comments|zip(sub_comment_authors_images, game_sub_comments2) %}
                                        {% if sub_comment.parent_id == comment.comment_id %}
                                            <div class="sub comment_div">
                                                <div class="comment_author_image">
                                                    <div class="author_and_image">
                                                        <img src="data:image/jpeg;base64, {{ sub_ico }}" alt="comment_author_ico" height="50" class="comment_author">
                                                        <p class="comment_owner">{{ sub_comment.author_username }}</p>
                                                    </div>
                                                    <div class="date" style="color: #ffffff">
                                                        <p class="publication_date">{{ sub_comment_date }} ago</p>
                                                    </div>
                                                </div>
                                                <div class="sub comment_div">
                                                    {% if sub_comment.hidden %}
                                                        <p class="comment_text hidden_comment" id="{{ sub_comment.comment_id }}">the comment was deleted by author</p>
                                                    {% else %}
                                                        <p class="comment_text" id="{{ sub_comment.comment_id }}">{{ sub_comment.text }}</p>
                                                    {% endif %}
                                                    {% if ((current_user.customer_username == sub_comment.author_username) or (current_user.role_id == 1)) %}
                                                        <div class="crud_comments">
                                                            {% if sub_comment.hidden is none %}
                                                                <p onclick="editComment(commentText=`{{ sub_comment.text }}`, commentId={{ sub_comment.comment_id }})" class="reply edit_comment">Edit</p>
                                                            {% endif %}
                                                            {% if sub_comment.hidden %}
                                                                <p onclick="deleteComment(commentId={{ sub_comment.comment_id }})" class="reply delete_comment">Restore</p>
                                                            {% else %}
                                                                <p onclick="deleteComment(commentId={{ sub_comment.comment_id }})" class="reply delete_comment">Delete</p>
                                                            {% endif %}
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
            {% if current_user.is_authenticated or login == "Admin"%}
                <div class="add_comment">
                    <div class="reply_modal" id="reply_modal">
                        <div id="input_and_hidden_field" class="input_and_hidden_field">
                            <div class="inner_modal">
                                <div class="reply_img">
                                    <img class="reply_img_picture" src="{{ url_for('static', filename='images/PinClipart.com_welcome-back-clip-art_3434813 копия.png')}}" alt="reply_arrow">
                                </div>
                                <div class="reply_text_and_author">
                                    <p class="comment_for_reply_author" id="comment_for_reply_author"></p>
                                    <p class="comment_for_reply" id="comment_for_reply"></p>
                                </div>
                                <div class="reply_close">
                                    <img src="{{ url_for('static', filename='images/close.png')}}" onclick="closeReply()" alt="closeReplyBlock" class='cancelReply' id='cancelReply'>
                                </div>
                            </div>
                        </div>
                        <div class="comment_input">
                            <form action="" method="post" class="customer_comments">
                                <input class="cancel_comment_input add_comment_input" type="button" value="Cancel">
                                <input type="hidden" name='parent' id="parent_comment" class="parent_comment" value="">
                                <input type="hidden" name='edit' id="edit_comment" class="parent_comment" value="">
                                <textarea id="comment" class="comment" maxlength="256" name='comment' placeholder="What do you think about {{ game_details.game_name }}?"></textarea>
                                <input class="add_comment_input" type="submit" value="Save">
                            </form>
                        </div>
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
</div>
<script>
    function closeReply(){
        document.getElementById('input_and_hidden_field').style.display = 'none';
        document.getElementById('parent_comment').value = '';
    }
</script>
<script>
        function parentReply(commentId, commentAuthor, commentText){
            document.getElementById('parent_comment').value = commentId;
            document.getElementById("input_and_hidden_field").style.display = 'block';
            document.getElementById("comment_for_reply_author").innerHTML = commentAuthor;
            document.getElementById("comment_for_reply").innerHTML = commentText;
        }
</script>
<script>
        function editComment(commentText, commentId){
            document.getElementById("comment").value = commentText;
            document.getElementById("edit_comment").value = commentId;
        }
</script>
<script>
        $('.cancel_comment_input').on('click', function (){
           if (document.getElementById('input_and_hidden_field').style.display === 'block'){
               closeReply()
           }
           document.getElementById("comment").value = ''
        });
</script>
<script>
        function deleteComment(commentId){
            $.ajax({
                url: '{{ url_for('customer_sites.delete_comment') }}',
                type: 'post',
                dataType: 'json',
                contentType: 'application/json',
                data: String(commentId),
            });
            $(document).ajaxStop(function(){
                window.location.reload();
            });
        }
</script>
<script>
    $(document).ready(function (){
       if (window.performance) {
           console.info("window.performance works fine on this browser");
       }
       console.info(performance.navigation.type);
       if (performance.navigation.type === performance.navigation.TYPE_RELOAD) {
           console.info( "This page is reloaded" );
       } else {
           console.info( "This page is not reloaded");
       }
    });
</script>
{% endblock %}
