{% extends 'index.html' %}
{% block title %}
    Games List
{% endblock %}
{% block content %}
<div class="row">
    <a href="{{ url_for('admin.display_customers') }}" class="edit-game">Edit user roles</a>
    <table class="users edit_games">
{#        <thead class="customer_table_header">#}
{#            <tr class="customer_table_row">#}
{#                <th class="customer_header">№</th>#}
{#                <th class="customer_header">Game Name</th>#}
{#                <th class="customer_header">Change Quantity</th>#}
{#            </tr>#}
{#        </thead>#}
        <tbody class="customer_table_body">
            {% for game in games %}
                <tr class="customer_table_row">
                   <td class="customer_cell">{{ loop.index }}</td>
                   <td class="customer_cell">{{ game.game_name }}</td>
                   <td class="customer_cell game-quantity">
                       <input type="text" placeholder="Licenses Quantity" id="edit_quantity{{ game.game_id }}" class="edit_quantity" value="{{ game.quantity_available }}">
                   </td>
                   <td class="customer_cell" style="background: #f56c16">
                       <button onclick="editQuantity({{ game.game_id }})" type="button" class="add_role game_edit" id="{{ game.game_id }}">Edit quantity</button>
                   </td>
                </tr>
                <tr class="empty_table_row"><td> </td></tr>
            {% endfor %}
      </tbody>
   </table>
</div>
<script>
    function editQuantity(gameId){
        newQuantity = $('#edit_quantity'+gameId).val();
        $.ajax({
            url: '{{ url_for('admin.ajax_edit_quantity') }}',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({gameId: gameId, newQuantity: newQuantity}),
            success: function (quantity) {
                console.log(quantity)
                $('#edit_quantity' + gameId).val(quantity);
            },
        });
    }
</script>
{% endblock %}