{% extends "index.html" %}
{% block title %}
Edit Profile
{% endblock %}
{% block content %}
        <div class="row">
                <div class="edit_profile">
                        <div class="edit_user">
                            <img {% if user_photo is not none %}
                                        src="data:image/jpeg;base64,{{ user_photo }}"
                                 {% else %}
                                        src="./static/pngegg.png"
                                 {% endif %} alt="user_photo" class="user_edit_photo" height="250">
                        </div>
                        <div class="edt_user">
                                <form action="/edit_profile" class="user_fields" method="post" enctype="multipart/form-data">
                                        <input type="text" class="new_profile_detail" id="new_first_name" name="new_first_name" {% if session['customer_first_name'] %} value="{{ session['customer_first_name'] }}" {% endif %}>
                                        <input type="text" class="new_profile_detail" id="new_last_name" name="new_last_name" {% if session['customer_last_name'] %} value="{{ session['customer_last_name'] }}" {% endif %}>
                                        <div class="image_and_button">
                                                <div class="input__wrapper">
                                                        <input type="file" name="new_user_ico" id="input__file" accept="image/*" class="input input__file" multiple>
                                                                <label for="input__file" class="input__file-button">
                                                                        <span class="input__file-icon-wrapper"><img class="input__file-icon" src="./static/kisspng_computer_icons_logo_download_incoming_5b2fe3dddadc97_07.png" alt="Choose profile image" width="30"></span>
                                                                        <span class="input__file-button-text">Choose profile image</span>
                                                                </label>
                                                </div>
                                                <div class="submit_button">
                                                        <input type="submit" class="new_game_add_button" value="Add changes">
                                                </div>
                                        </div>
                                </form>
                        </div>
                </div>
        </div>
<script>
    let file = document.getElementById('input__file');
    file.onchange = function(e) {
        let ext = this.value.match(/\.([^\.]+)$/)[1];
            switch (ext) {
                case 'jpg':
                case 'bmp':
                case 'png':
                case 'jpeg':
                case 'ico':
            break;
            default:
                alert("This format of file isn't allowed");
            this.value = '';
        }
    };
</script>
{% endblock %}