{% extends 'index.html' %}
{% block title %}
    User List
{% endblock %}
{% block content %}
<div class="row">
    <table class="users">
{#        <thead class="customer_table_header">#}
{#            <tr class="customer_table_row">#}
{#                <th class="customer_header">№</th>#}
{#                <th class="customer_header">Username</th>#}
{#                <th class="customer_header">First Name</th>#}
{#                <th class="customer_header">Last Name</th>#}
{#                <th class="customer_header">Email</th>#}
{#                <th class="customer_header">Role</th>#}
{#                <th class="customer_header">Change Role</th>#}
{#            </tr>#}
{#        </thead>#}
        <tbody class="customer_table_body">
            {% for user in customers %}
                <tr class="customer_table_row">
                   <td class="customer_cell">{{ loop.index }}</td>
                   <td class="customer_cell">{{ user.customer_username }}</td>
                   <td class="customer_cell">{{ user.customer_first_name }}</td>
                   <td class="customer_cell">{{ user.customer_last_name }}</td>
                   <td class="customer_cell">{{ user.customer_email }}</td>
                   <td class="customer_cell" id="user{{ user.customer_id }}">
                       {% for role_name in roles %}
                           {% if user.role_id == role_name.role_id %}
                               {{ role_name.name }}
                           {% endif %}
                       {% endfor %}
                   </td>
                   <td class="customer_cell" style="background: #f56c16">
                       <select name="give_role" id="{{ user.customer_id }}" class="add_role">
                           {% for role in roles %}
                               <option value="{{ role.role_id }}">{{ role.name }}</option>
                           {% endfor %}
                       </select>
                   </td>
                </tr>
                <tr class="empty_table_row"><td> </td></tr>
            {% endfor %}
      </tbody>
   </table>
</div>
<script>
    $('.add_role').on('click', function (){
        customerId = $(this).attr('id');
        roleId = $(this).val();
        $.ajax({
            url: '{{ url_for('admin.ajax_change_role') }}',
            type: 'post',
            dataType: 'json',
            contentType: 'application/json',
            data: JSON.stringify({customerId: customerId, roleId: roleId}),
            success: function (roleName){
                $('#user'+customerId).text(roleName);
            },
        });
    });
</script>
{% endblock %}